<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property name="LOGS" value="./content-service/logs" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:SSS} [%thread] %-5level  %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="RfAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/content-service.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/content-service.%d{yyyy-MM-dd}.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <!--<appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:SSS} [%thread] %-5level  %logger{30} - %msg %marker %n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>200</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="JSON"/>
    </appender>-->

    <logger name="com.venkat" level="trace" additivity="false">
        <appender-ref ref="RfAppender" />
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <!--<appender-ref ref="ASYNC" />-->
    </root>

</configuration>